body{
  background: #e3e8ee;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.title{
  background-color: rgb(41, 38, 38);
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}
.title p{
  text-transform: uppercase;
  color: #e3e8ee;
  font-size: 12px;
  font-weight: bold;
}

img{
  width: 3rem;
}

.generalContent{
  display: grid;
  grid-template-columns: 2fr 3.5fr 3.5fr 3fr; 
  padding-top: .5rem;
}

@media screen and (max-width: 1400px) {
  .generalContent{
    display: grid;
    grid-template-columns: 1fr 4fr 5.5fr 1.5fr; 
    padding-top: .5rem;
  }
}


#sectionMenu{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1; 
  grid-row-end: 2;
  padding-right: 17px;
}

#sectionContent{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1; 
  grid-row-end: 2;
  padding-left: 17px;
}

#todolistsPicker{
  display: grid;
  grid-row: auto; 
}

.buttonListName{
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  margin-top: 10px;

}
.buttonListName:hover { background: rgb(53, 167, 110); }

.inputForm{
  border:none;
  outline:none;
  display:inline-block;
  height:41px;
  vertical-align:middle;
  border-radius:22px;
  width:260px;
  box-sizing:border-box;
  padding:18px; 
}

 .inputCheckboxElem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  color:rgb(41, 38, 38);
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  background: #ffffff;
  margin-top: 4px;
  border-left: 10px solid rgb(64,199,129) ;
}

.inputCheckboxElem input {
  width: 20px;
  height: 20px;
}

.addButton{
  background:rgb(41, 38, 38);
  color:#fff;
  width:100px;
  cursor:pointer;
  border-radius:22px;
  height:41px;
}
 
ul{
  list-style-type: none;
  padding: 0;
}

/* add style for button Delete All Elem */
.deleteList {
  background:rgb(90, 1, 1) ;
  color:rgb(252, 247, 247);
  border:none;
  outline:none;
  display:inline-block;
  height:41px;
  vertical-align:middle;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  margin-top: auto; 
}
 
#listNameSection {
  color:rgb(41, 38, 38);
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;

}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(99, 75, 75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 31px;
  left: 10px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(99, 75, 75) transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  /* animation: fadeIn 1s; */
}
